*{
  padding: 0;
  margin: 0;
}
body{
  width:100%
}
.parent{
  position: relative;
  width: 400px;
  height: 500px;
  background-color: #232423;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px auto;
  border: 1px solid black;

}
#parent{
  height: 1000px;
}
.child{
position: absolute;
background-color: #fff;
inset: 10px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;

}
.header{
  width: 96.8%;
  height: 80px;

  display: grid;
  grid-template-columns: 20% 80%;
  align-items: center;
  background-color: #43422a;
  color: #fff;
  padding:0 20px;
  overflow: hidden;
}
.contents{
  display: flex;
  justify-content: center;  
  align-items: inherit;
gap:50px;
  color: #fff;
}
/* center the cart container on the page */
.cart-container {
  display: flex;
  justify-content: center;
}

/* style the table */
table {
  border-collapse: collapse;
  width: 50%;
}
th, td {
  border: 1px solid black;
  padding: 8px;
  text-align: left;
}
